<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>

    <body>
        {{> header}}
        <p>
           <i>{{screamIt welcomeMessage}}</i> 
            {{!-- Using helper with one argument. --}}
        </p>

       {{> footer}}
    </body>
</html>
