<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects</title>
    </head>

    <body>
        {{> header}}
        <h1>Welcome to products page!</h1>
        <p>
            Nothing new available.
        </p>
        {{> footer}}
    </body>
</html>